/* ------------ESTILOS GENERALES--------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------ESTILOS BODY---------------- */



html{
    font-size: 16px;
}
body{
    color: #333333;
    font-family: "Work Sans";
    /* font-family: 'Playfair Display';
    font-family: "Lora"; */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; 
}
header ul {
    display: flex;
    list-style-type: none;
    text-decoration: none; 
}
header ul li{
    display: flex;
    list-style-type: none;
    margin: 1rem;
}
header ul li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    color: #333333;
}
.carrito{
    width: 1.2rem;
}
.menu{
    display:none;
}
select {
    border: none; 
    font-family: "Work Sans";
}
/* -----------------ESTILOS MAIN----------------- */
/* ---------DIV 1-------------- */
.div_1 {
    background-image: url(Imagenes/slider-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1_div1{
    font-family: 'Playfair Display';
    font-size: 4rem;
    font-weight: 100;
}
.a_div1{
    color: #333333;
    font-weight: bold;
    padding: 1rem;
    text-decoration: underline;
}
/* ---------DIV 2-------------- */
.div_2{
    padding: 6rem;
}

.ul_div_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.ul_div_2 p{
    color: #529F0F;
    font-size: 2.5rem;
    text-decoration: dashed;
    font-family: "Lora";
}
.ul_div_2 span{
    font-weight: bold; 
}
.img1{
    width:35.625rem;
    height:16.9375rem;
    background-image: url(./Imagenes/banner-1.png);
}
.img1_contenido{
    padding-top: 5rem;
    padding-left: 3rem;
}
.img2{
    width:35.625rem;
    height:16.9375rem;
    background-image: url(./Imagenes/banner-2.png);
}
.img2_contenido{
    padding-top: 5rem;
    padding-left: 3rem;
}
/* ---------DIV 3-------------- */
.div_3{
    background-image: url(./Imagenes/bg-1.jpg);
}
.h1_div3{
    padding: 0.5rem;
    font-family: 'Playfair Display';
    text-align: center;
    font-weight: 100;
    padding-top: 5rem;
}
.p_div3{
    padding: 0.5rem;
    font-family: 'Playfair Display';
    text-align: center;
}
.ul_div3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    padding: 3rem 0rem;
}
.ul_div3 li a,.p_productos,.precio_descuento, .precio_sin_descuento{
    text-align: left;
    text-decoration: none;
    color:#888888;
    font-weight: bold;
}
.p_productos{
    padding: 0.5rem;
    
}
.precio_descuento{
    font-size: 0.9rem;
    color: #333333;
    padding: 0.5rem;
}
.precio_sin_descuento{
    text-decoration: line-through;
    padding: 0;
    font-size: 0.9rem;
}
/* ---------DIV 4-------------- */
.div_4{
    margin: 8rem;
    text-align: center;
    color: #6d6c6c;
}
.div_4 p{
    padding: 0.5rem;
    font-family: 'Lora';
    font-style: italic;
    font-size: 2rem;
}
.span1_div4{
    margin-top: 2.1rem;
    display: block;
    font-weight: bold;
}
.span2_div4{
    color: #888888;
    font-weight: bold;

}
/* ---------DIV 5-------------- */
.div_5{
    background-color: #F3F3F3;
}
.h1_div5{
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-family: 'Playfair Display';
    text-align: center;
    font-weight: 100;
}
.p_div5{
    padding: 0.5rem;
    font-family: 'Playfair Display';
    text-align: center;
}

.ul_div5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    padding: 3rem 0rem;
}
.ul_div5 li a{
    text-align: left;
    text-decoration: none;
}
/* ---------DIV 6-------------- */
.div_6{
    justify-content: flex-start;
    background-image: url(Imagenes/bg-2.jpg);
    background-size: 2200px 960px;
    height: 35vh;
}

.h1_div6{
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-family: 'Playfair Display';
    text-align: center;
    font-weight: 100;
}
.form_div6{
    text-align: center;
    padding: 1.7rem;
}
input{
    padding: 1rem;
}
.email{
    font-family: 'Lora';
    width: 30%;
}
.subscribe{
    font-family: 'Work Sans';
    background-color: black;
    color: #F3F3F3;
}
/* ---------DIV 7-------------- */
.div_7{
    background-image: url(./Imagenes/bg-1.jpg);
}
.h1_div7{
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-family: 'Playfair Display';
    text-align: center;
    text-decoration: underline;
    font-weight: 100;
}
.ul_div7{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    padding: 3rem 0rem;
}
.p1_div7{
    font-family: 'Lora';
    color: #529F0F;
    font-style:italic ;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 1rem;
}
.h2_div7{
    font-family: 'Playfair Display';
    font-weight: 100;
    padding: 1.2rem 0rem;
}
.p2_div7{
    font-family: 'Lora';
    font-weight: 100;
    line-height: 1.8rem;
}
.a_div7{
    text-decoration: underline;
    padding: 1.8rem 0rem;
    display: block;
    font-weight: bold;
}
/* ---------DIV 8-------------- */
.ul_div8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 6rem;
    gap: 3rem;
}
/* ---------FOOTER PARTE 1 ------------ */
.footer_parte1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 6rem;
    background-color: #f8f8f8;
    font-family: 'Playfair Display';
}
.ul_footer li{
    list-style: none;
    padding: 0.5rem;
}
.ul_footer li,a{
    text-decoration: none;
    color: #333333;
}
.a_ul_footer{
    font-size: 1.2rem;
    font-weight: bold;
}
/* ---------FOOTER PARTE 2 ------------ */
.footer_parte2{
    background-color: #EBEBEB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sabujcha_footer{
    padding: 1rem;
}
.img_footer{
    padding: 1rem;
}
/* ----------------------MEDIA QUERIE MAX WIDTH 600PX------------------------- */
@media only screen and (max-width: 600px) {
    html{
        font-size: 10px;
    }
    /* -----ESTILOS HEADER MEDIA QUERIE--------- */
    header ul{
        display: none;
    }
    .carrito{
        display: none;
    }
    .menu{
        display:inline;
        width: 18px;
        height: 18px;
    }
    /* -----------------ESTILOS MAIN----------------- */
    /* ---------DIV 1-------------- */
    .div_1 {
        justify-content: flex-start;
        background-image: url(Imagenes/slider-2.jpg);
        background-size: 550px 250px;
        height: 40vh;
    }
    .h1_div1{
        font-size: 2.5rem;
        padding-top: 5rem;
    }
    /* ---------DIV 2-------------- */
    .div_2{
        display: flex;
        flex-direction: column;
    }
    .img1{
        height: 28vh;
        width: 50vh;
        background-size: 25rem 13.6rem;
    }
    .img2{
        height: 28vh;
        width: 50vh;
        background-size: 25rem 13.6rem;
    }
    /* ----------DIV 6 ------------- */
    .div_6{
        justify-content: flex-start;
        background-image: url(Imagenes/bg-2.jpg);
        background-size: 25rem 18.75rem;
        height: 35vh;
    }
    .email{
        font-family: 'Lora';
        width: 55%;
    }
    /* ---------DIV 7-------------- */
    .img_div7{
        width: 247px;
    }
    /* ---------FOOTER PARTE 1------ */
    .footer_parte1{
        justify-content: center;
}